<html lang='zh'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='robots' content='index,follow' />
    <meta name='rating' content='General' />
    {{!-- page-icon --}}
    <link rel="shortcut icon" href="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png">
    <link rel="bookmark" href="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"> 
    <meta name='description' content='This is a restaurant-list web' />
    <meta name='author' content='WIlson and design by ACamp' />
    <title>Restaurant</title>
    {{!-- 把 css link 放在 partials 看起來比較乾淨 --}}
    {{> styles}}
  </head>
  <body>
    {{> header}}
    {{{body}}}
    {{!-- 同上 --}}
    {{> javascripts}}
  </body>
</html>