<html lang='zh'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='robots' content='index,follow' />
    <meta name='rating' content='General' />
    <meta name='description' content='This is a restaurant-list web' />
    <meta name='author' content='WIlson and design by ACamp' />
    <title>Restaurant</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>