{{> search}}
<!-- restaurant list -->
<div class='container mt-5'>
  {{#if noFile}}
    <div class='alert alert-danger mt-3 text-center' role='alert'>
      您輸入的關鍵字
      {{keyword}}
      找不到符合的餐廳！
    </div>
  {{/if}}   
  <div class="row">
    {{> cards}}
  </div>
</div>