{{>message}}
<form action='/users/register' method='POST'>
  <label for='name'>name</label>
  <input type='text' name='name' id='name' value='{{name}}' />
  <label for='email'>Email</label>
  <input type='email' name='email' id='email' value='{{email}}' />
  <label for='password'>password</label>
  <input type='password' name='password' id='password' />
  <label for='confirm-password'>confirm password</label>
  <input type='password' name='confirmPassword' id='confirm-password' />
  <button type='submit'>register</button>
</form>